/mobile/node_modules
/backend/node_modules
infrastructure/terraform/.terraform
/mobile/keystores
mobile/.expo/README.md
mobile/@eriksensolutions__bigfam-festival.jks
mobile/google-services.json.base64
backend/.env
backend/bigfamfestival-d50c655eb421.json
/backend/dist
/mobile/android
mobile/package-lock.backup.json
backend/artists.csv
backend/scripts/import-artists-from-csv copy.ts
backend/scripts/import-artists-from-csv.ts
/mobile/bigfamfestival-4af9c9a24721.json
/mobile/.expo
